html{
  font-family: Helvetica, Arial, sans-serif;
  background-image:url(http://thumbs.dreamstime.com/x/vector-seamless-chevron-pattern-linen-turquoise-canvas-background-vintage-rustic-burlap-zigzag-38494677.jpg);
  color: #000000;
}

/*MENU BAR*/
#menu{
  padding:1em;
  background-color: #ffc0cb;
  color: #df60b6;
  position:absolute;
  width:100%;
}

.link{
  font-size:3vw;
  font-weight: bold;
  color:black;
  margin:1em;
  color: #000000;
}

#firstlink{
  margin-left:12vw;
  font-size:3vw;
  font-weight: bold;
  color:black;
  margin-right:1em;
  color: #000000;

}
/*END MENU BAR*/

/*POST LISTS*/
#Technical_list{
  width:190px;
  text-align:center;
  background-color: #ffc0cb;
  position:absolute;
  top:100px;
  font-size: 1.2vw;
}

#Cultural_list{
  width:190px;
  text-align:center;
  margin-top:1em;
  background-color: #ffc0cb;
  position:absolute;
  top:200px;
  font-size: 1.2vw;
}

.postlinks{
  color:black;
  text-decoration: none;
}

.title{
  font-weight:bold;
  font-size:1.7vw;
}

/*END POST LISTS*/

/*ABOUT US*/
#About_Me{
  width:260px;
  background-color: #ffc0cb;
  padding:1em;
  float:right;
  top: 100px;
  position:absolute;
  left:75%;
}

#carissa{
  font-weight: bold;
  text-align: center;
  font-size: 1.7vw;
}

#aboutbody{
  text-align:justify;
  font-size:1.2vw;

}

#profile{
  width:80%;
  height:80%;
  margin-left: 20px;
}

/*POST FORMATTING*/
body{
  font-size:1.5vw
}

#actual_post{
  background-color: #ffc0cb;
  position:absolute;
  top:100px;
  left:17.3%;
  width:56%;
  padding:5px;
  height:inherit;

}