
html{
  font-family: 'Rokkitt', serif;
}

body{
  margin:0;
}

main{
  overflow: hidden; floated elements now go inside & stop floating
  width: 100%;
  margin: 3em;
  margin-top:80px;
}

#index_main{
    margin: 6em 1em 1.5em 1em;
}

/*for blog posts*/
#actual_post{
  width: 65%;
  float: left;
  margin-left: 8%;
  padding: 10px;
  font-size: 19px;
  line-height:24px;
  text-align: justify;
  margin-top: 80px;
}


#actual_post h1{
  margin:0;
  color: #90a34b;
  font-size: 45px;
  line-height: 55px;
}
#actual_post h2, h4{
  margin-top:10px;
  color: #90a34b;
}

#actual_post img{
  width: 100%;
  height: 15px;
}

#actual_post ul, ol{
  font-size: 17px;
  line-height:21px;
  color: #333;
}


/*for blog index page*/
#blog_index{
/*  width: 100%;*/
  font-size: 18px;
  line-height:23px;
  margin: 0 4em;
}

#blog_index h1{
  margin:0;
  color: #90a34b;
  font-size:3em;
  padding-top: 1.2em;
  padding-bottom: 0.4em;
  text-align: center;
  margin-top: 1em;

}

#blog_index img{
  width: 100%;
  height: 20px;
  margin-bottom: 30px;
}

#blog_index h2{
  margin-top:10px;
  margin-bottom: 20px;
  color: #90a34b;
  font-size: 2em;
}

#blog_index p{
  text-align: justify;
}


/*for blog index page*/
#leftcolumn{
  float: left;
  width:45%;
}

#leftcolumn ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}

#leftcolumn a{
  font-size: 22px;
  color: #90a34b;
}


#rightcolumn{
  float:right;
  width:45%;
}

#rightcolumn ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}

#rightcolumn a{
  font-size: 22px;
  color: #90a34b;
}



/*for blog posts shortcut to other posts*/
#Blog_list{
  width: 15%;
  float: left;
  padding: 10px;
  color: #90a34b;
  margin-top: 6em;
}

.title{
  font-size: 18px;
}

#Blog_list ol{
  padding: 0;
  margin:0;
}

#Blog_list a{
  text-decoration: none;
  font-weight: bold;
  color: #555;
  font-size: 14px;

}


/*MENU BAR*/
#nav{
  background-color: #90a34b;
  position: fixed;
  top: 0;
  width:101%;
  margin-left: -1%;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  padding: 1em 0;
}

#nav ul{
  list-style-type: none;
  text-align: center;
  margin: 20px;
}

#nav li{
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}

#nav a{
  text-decoration: none;
  color:white;
}
/*END MENU BAR*/

#footer {
  background-color:#d3e1a0;
  margin:0;
  position: fixed;
  bottom: 0;
  width:100%;
}

#footer p{
  text-align: right;
  margin: 0;
  padding-right: 15px;
  color: #777;
}