
html{
  font-family: 'Rokkitt', serif;
}

body{
  margin:0;
}

#background img{
  position:fixed;
  bottom: 0;
  z-index: -1;
  width:100%;
}

main{
  margin: 4em;
}

#actual_post{
  width: 60%;
  float: left;
  margin-top: 80px;
  margin-left: 5%;
  margin-bottom: 8%;
  padding: 30px;
  font-size: 19px;
  line-height:24px;
  text-align: justify;
  border: 3px solid #dea510;
  border-radius: 25px;
  background-color: white;
}


#actual_post h1{
  margin:0;
  color: #dea510;
  font-size: 45px;
  line-height: 55px;
  text-align: left;
}
#actual_post h2, h4{
  margin-top:10px;
  color: #dea510;
  text-align: left;
}

#actual_post img{
  width: 100%;
  height: 15px;
}

#actual_post ul, ol{
  font-size: 17px;
  line-height:21px;
  color: #333;
}

/*blog list minibox*/
#Blog_list{
  width: 20%;
  float: left;
  padding: 10px;
  color: #dea510;
  margin-top: 4.5em;
}

.title{
  font-size: 18px;
  text-align: center;
}

#Blog_list ol{
  padding-left: 20px;
  margin:0;
}

#Blog_list a{
  text-decoration: none;
  font-weight: bold;
  color: #555;
  font-size: 14px;

}

#Technical_list {
  border: 3px solid #dea510;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 1.5em;
  background-color: white;
}

#Cultural_list{
  border: 3px solid #dea510;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
}

/*MENU BAR*/
#nav{
  background-color: #dea510;
  position: fixed;
  top: 0;
  width:101%;
  margin-left: -1%;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
/*  padding: 1em 0;*/
}

#nav ul{
  list-style-type: none;
  text-align: center;
  margin: 20px;
}

#nav li{
  display: inline;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 1.1em;
}

#nav a{
  text-decoration: none;
  color:white;
}
/*END MENU BAR*/

#footer {
  background-color:#dea510;
  margin:0;
  position: fixed;
  bottom: 0;
  width:100%;
}

#footer p{
  text-align: right;
  margin: 0;
  padding-right: 15px;
  color: #777;
}