
html{
  font-family: 'Rokkitt', serif;
}

body{
    margin:0;
}

main{
    margin-top: 13em;
}

.contact{
    max-width: 600px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #90a34b;
}
.contact ul{
    padding:0;
    margin:0;
    list-style:none;
}
.contact ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 40px;
}
.contact ul li  .field-style{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #90a34b;



}.contact ul li  .field-style:focus{
    box-shadow: 0 0 5px #90a34b;
    border:1px solid #90a34b;
}
.contact ul li .field-split{
    width: 49%;
    font-family: 'Rokkitt', serif;
    font-size:16px;
}
.contact ul li .field-full{
    width: 100%;
    font-family: 'Rokkitt', serif;
    font-size:16px;
}
.contact ul li input.align-left{
    float:left;
    font-family: 'Rokkitt', serif;
    font-size:16px;
}
.contact ul li input.align-right{
    float:right;
    font-family: 'Rokkitt', serif;
    font-size:16px;
}
.contact ul li textarea{
    width: 100%;
    height: 150px;
    font-family: 'Rokkitt', serif;
    font-size:16px;
}
.contact ul li input[type="button"],
.contact ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #90a34b;
    -webkit-box-shadow: inset 0px 1px 0px 0px #90a34b;
    box-shadow: inset 0px 1px 0px 0px #90a34b;
    background-color: #90a34b;
    border: 1px solid #90a34b;
    display: inline-block;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Rokkitt', serif;
}

/*SOCIAL MEDIA*/
#share-buttons{
    position: fixed;
    top: 120px;
    margin-left: 32em;
}

#share-buttons h2{
    text-align: center;
    color: #90a34b;
    padding: 0;
    margin: 0;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

/*MENU BAR*/
#nav{
  background-color: #90a34b;
  position: fixed;
  top: 0;
  width:101%;
  margin-left: -1%;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  padding: 0.8em 0;
}

#nav ul{
  list-style-type: none;
  text-align: center;
  margin: 20px;
}

#nav li{
  display: inline;
  padding-left: 9px;
  padding-right: 9px;
}

#nav a{
  text-decoration: none;
  color:white;
}
/*END MENU BAR*/

#footer {
  position:fixed;
  bottom:0;
  width:100%;
  background-color:#d3e1a0;
  margin:0;
}

#footer p{
  text-align: right;
  margin: 0;
  padding-right: 15px;
  color: #777;
  font-size: 14px;
}