html{
  background-color: #f2f0f0;
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/4a/43/f8/4a43f88c4393f691f42400dab982439a.jpg);
}


#nav{
  position:absolute;
  top:2em;
  width:101%;
  padding-bottom: 0.7%;
  background-color: #eec79f;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: absolute;
  margin-left: -1em;
  max-height: 4em;
  float:none;
}

#nav ul{
  list-style-type: none;
  margin:0;
  padding:1.5em;
}

#nav ul li{
  display:inline;
  padding:1em;
}


#nav ul li a{
  text-decoration: none;
  color:#000000;
  text-align: center;
  font-size:1.5em;
  font-weight: bold;
}

#social_media{
  position:absolute;
  right:0;
  bottom:0;

}

#social_media ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

#social_media ul li{
  display:inline;
}


#social_media ul li a{
  text-decoration: none;
}

#social_media ul li a img{
  width:30px;
  height:30px;

}

h1{
  color:#000000;
  font-size: 3.5em;
  position:absolute;
  width:100%;
  padding-top:12%;
  text-align: center;
  font-weight: bold;
}

#textbody{
  position:absolute;
  margin-top: 19%;
  padding:5%;
  width:100%;
  margin-left:5em;
  margin-right:5em;
  text-align: justify;
}





#whitespace{
  background-color: #f2d07f;
  opacity:0.45;
  position:absolute;
  z-index: -1;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: absolute;
  margin-top: 8em;
  margin-left: 8%;
  padding:41%;

}