@font-face{
  font-family:league-gothic;
  src:url(https://github.com/carissablossom/league-gothic/blob/master/webfonts/leaguegothic-regular-webfont.woff);
}

html{
  font-family: league-gothic, Calibri, sans-serif;
  color:#361c02;

  /*background-image: url(https://dl-web.dropbox.com/get/YPO-WPO%20Mt%20Fuji%202014/IMG_2105.JPG?_subject_uid=308975299&w=AADNhM51FH3ePH0ezp28KRkhJG0hguiioLGX8yu7ngcgrA)*/
}

/*#titleopacity{
  background-color: white;
  opacity:0.5;
  position:absolute;
  z-index: -1;
  padding:3.5em;
  width:32%;
  bottom:64%;
  margin-left: 30%;
}*/

#big_title{
  width:100%;
  text-align: center;
  position:absolute;
  top:10%;
  font-size: 2.25em;
  z-index: 1;
  color: #df1f15;
  font-weight: bolder;
  text-shadow: 1px 1px #361c02;
}

#subtitle{
  width:100%;
  text-align: center;
  position:absolute;
  top:27%;
  z-index: 2;
  color:#df1f15;
  font-weight: bold;
  text-shadow: 1px 1px #361c02;
}

#home_img{
  position:absolute;
  top:-10%;
  z-index:-5;
  margin-left: -2%;
  width:103%;
}

#bio{
  padding:1em;
  position:fixed;
  bottom:15%;
  margin-left: -1.5%;
}

#bio p{
  text-align: center;
  font-size:1.2em;
  line-height: 0.9em;
  font-weight: bold;
}

#whitespace{
  background-color: white;
  opacity:0.5;
  position:absolute;
  z-index: -1;
  bottom:15%;
  padding:5em;
  width:100%;
  margin-left: -2%;
}

#nav{
  position:absolute;
  bottom:0;
  width:103%;
  padding:0.5em;
  background-color: #497ed8;
  margin-left: -2%;
}

#nav ul{
  list-style-type: none;
  margin:0;
  padding:1.5em;
}

#nav ul li{
  display:inline;
  padding:1em;
}


#nav ul li a{
  text-decoration: none;
  color:#361c02;
  text-align: center;
  font-size:1.5em;
  font-weight: bold;
}

