html{
  width: 1250px;
  font-family: 'Rokkitt', serif;
  background-color: black;
  color: white;
}

body{
  margin: 0px;
}

#page{
  height:100%;
  width:100%;
  position: absolute;
}

#background img{
  position:fixed;
  z-index: -1;
  width:100%;
  opacity: .7;
  min-width: 822px;

}


#big_title{
  text-align:center;
  font-weight: bold;
  font-size: 2em;
}

#big_title h1{
  margin-top: 1.2em;
  margin-bottom: 0;
}

#subtitle{
  text-align: center;
  font-weight: bold;
  font-size:1.25em;
}

#subtitle h2{
  margin:0;
}

#tagline {
  color:white;
  font-size:45px;
  font-family: monospace;
  margin-top: 4.5em;

}
/*yellow #f1d802*/
/*green #90a34b*/
/*royal blue #003ea1*/
/*mustard #dea510*/
/*backpack red #be2d3c*/
#nav{
  background-color: #dea510  ;
  position: absolute;
  bottom: 0;
  width:100%;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

#nav ul{
  list-style-type: none;
  text-align: center;
  margin: 20px;
}

#nav li{
  display: inline;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 1.1em;
}

#nav a{
  text-decoration: none;
  color:white;
}



#tagline p{
  text-align: center;
}
