@font-face{
  font-family:league-gothic;
  src:url(https://github.com/carissablossom/league-gothic/blob/master/webfonts/leaguegothic-regular-webfont.woff);
}

html{
  font-family: league-gothic, Calibri, sans-serif;
  color:#361c02;
  background-image:url(https://splashbase.s3.amazonaws.com/snapwiresnaps/large/tumblr_nloephtOcD1teue7jo1_1280.jpg);
  background-position:center;
  background-attachment: fixed;
  background-repeat:no-repeat;

}

#social_media{
  position:fixed;
  left:65em;
  top:0;
}

#social_media ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

#social_media ul li{
  display:inline;
}


#social_media ul li a{
  text-decoration: none;
}

#social_media ul li a img{
  width:30px;
  height:30px;

}

#big_title{
  position:fixed;
  color:#df1f15;
  font-weight: bold;
  font-size: 2.25em;
}

#big_title h1{
  position:fixed;
  text-align:center;
  top:1.8em;
  left:5.5em;
}


#subtitle{
  width:80em;
  text-align: center;
  position:fixed;
  top:15em;
  color:#df1f15;
  font-weight: bold;
}

#subtitletitle h2{
  position:fixed;
  text-align:center;
  left:5.5em;
}


#bio{
  padding:1em;
  position:fixed;
  bottom:15%;
  margin-left: -1.5%;
}

#bio p{
  text-align: center;
  font-size:1.2em;
  line-height: 0.9em;
  font-weight: bold;
}

#whitespace{
  background-color: white;
  opacity:0.3;
  position:absolute;
  z-index: -1;
  bottom:0;
  width:80em;
  height:85em;
  margin-left: -2%;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: absolute;
}

#nav{
  position:absolute;
  bottom:0;
  width:80em;
  padding:0.5em;
  background-color: #497ed8;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: absolute;
  margin-left: -1em;
  max-height: 4em;
  float:none;
}

#nav ul{
  list-style-type: none;
  margin:0;
  padding:1.5em;
}

#nav ul li{
  display:inline;
  padding:1em;
}


#nav ul li a{
  text-decoration: none;
  color:#361c02;
  text-align: center;
  font-size:1.5em;
  font-weight: bold;
}

