@font-face{
  font-family:league-gothic;
  src:url(https://github.com/carissablossom/league-gothic/blob/master/webfonts/leaguegothic-regular-webfont.woff);
}

html{
  font-family: league-gothic, Calibri, sans-serif;
  color:#000000;
  background-image:url(https://splashbase.s3.amazonaws.com/snapwiresnaps/large/tumblr_nloephtOcD1teue7jo1_1280.jpg);
  background-position:center;
  background-attachment: fixed;
  background-repeat:no-repeat;

}

#social_media{
  position:fixed;
  left:65em;
  top:0;

}

#social_media ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

#social_media ul li{
  display:inline;
}


#social_media ul li a{
  text-decoration: none;
}

#social_media ul li a img{
  width:30px;
  height:30px;

}

#big_title{
  position:fixed;
  color:#000000;
  font-weight: bold;
  font-size: 2.25em;

}

#big_title h1{
  position:fixed;
  text-align:center;
  /*top:1.8em;
  left:5.5em;*/
  width:100%;
  padding-top:14%;
  margin-bottom: 2%;
}


#subtitle{
  width:100%;
  text-align: center;
  position:fixed;
  /*top:15em;*/
  padding-top:23%;
  color:#000000;
  font-weight: bold;
}

#subtitletitle h2{
  position:fixed;
  text-align:center;
  left:5.5em;
  margin-top: 2%;
}


#bio{
  position:fixed;
  bottom:2em;
  width:100%;
  padding-bottom:3%;
}

#bio p{
  font-size:2.5em;
  font-weight: bold;
  color:#000000;
  text-align: center;
  color:#ee347b;
  text-shadow: 1px 1px black;

}

#whitespace{
  background-color: white;
  opacity:0.35;
  position:absolute;
  z-index: -1;
  bottom:0;
  width:80em;
  height:85em;
  margin-left: -2%;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: absolute;
}

#nav{
  position:absolute;
  bottom:0;
  width:101%;
  padding-bottom: 0.7%;
  background-color: pink;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: absolute;
  margin-left: -1em;
  max-height: 4em;
  float:none;
}

#nav ul{
  list-style-type: none;
  margin:0;
  padding:1.5em;
}

#nav ul li{
  display:inline;
  padding:1em;
}


#nav ul li a{
  text-decoration: none;
  color:#000000;
  text-align: center;
  font-size:1.5em;
  font-weight: bold;
}

