html{
  width: 1250px;
}

#page{
  height:100%;
  width:100%;
  position: absolute;
}

#background img{
  margin-left: -1%;
  position:fixed;
  z-index: -1;
  margin-top: -1%;
  width:1250px;

}

#social_media{
  position: absolute;
  right:0;
  top:0;
  margin-right: 8px;
  margin-top: 8px;
}

#social_media ul{
  list-style-type: none;
}

#social_media img{
  width:30px;
  height:30px;

}

#big_title{
  text-align:center;
  font-weight: bold;
  font-size: 2em;
  width: 1250px;
  position: relative;
  top:130px;
}

#subtitle{
  text-align: center;
  font-weight: bold;
  width: 1250px;
  position: relative;
  top:100px;
}

#nav{
  background-color: pink;
  position: absolute;
  bottom: 0;
  width:100%;
  font-size: 1.5em;
  width: 1250px;
  font-weight: bold;
  margin-left: -1%;

}

#nav ul{
  list-style-type: none;
  text-align: center;
}

#nav li{
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}

#nav a{
  text-decoration: none;
  color:#000000;
}

#tagline {
  color:#ee347b;
  text-shadow: 1px 1px black;
  font-size:35px;
  font-weight: bold;
  position:relative;
  top:200px;
  width: 1200px;

}

#tagline p{
  text-align: center;
}