html{
  font-family: 'Rokkitt', serif;
}


body{
  margin:0;
}

#background img{
  position:fixed;
  top: 0;
  z-index: -1;
  width:100%;
/*  opacity: .7;*/
/*  min-width: 822px;*/


}

main{
  overflow: hidden; floated elements now go inside & stop floating
  width: 100%;
  margin: 3em;
  margin-top:120px;
  padding-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: white;
  border: 6px solid #dea510;
  border-radius: 25px;
}



h1{
  font-size: 46px;
  text-align: center;
  color: #dea510;
}

#left{
  margin-left: 2em;
  float: left;
  width:50%;
}

#far_left{
  width: 46%;
  float:left;

}

#middle{
  float:right;
  width:50%;
  padding-left: 10px;
  margin-right: 0;
}

#right{
  margin:0;
  padding:0;
  float:right;
  width:47%;
}


h3{
  font-size: 24px;
  padding-top: 0.5em;
  color: #dea510;
  text-align:center;
}

#right h3{
  text-align: center;
}

ul{
  list-style-image: url('../imgs/check.jpeg');
}


#right li{
  padding-top: 10px;
  font-size: 20px;
}

#left li{
  padding-top: 10px;
  font-size: 20px;
}

/*MENU BAR*/
#nav{
  background-color: #dea510;
  position: fixed;
  top: 0;
  width:101%;
  margin-left: -1%;
  font-size: 1.5em;
  font-weight: bold;

}

#nav ul{
  list-style-type: none;
  text-align: center;
  margin: 20px;
}

#nav li{
  display: inline;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 1.1em;
}

#nav a{
  text-decoration: none;
  color:white;
}
/*END MENU BAR*/

#footer {
  background-color:#dea510;
  margin:0;
  position: fixed;
  bottom: 0;
  width:100%;
}

#footer p{
  text-align: right;
  margin: 0;
  padding-right: 15px;
  color: #777;
}